.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-facebook {
    background: #3b5999;
}

.btn-twitter {
    background: #1da1f3;
}
.btn-youtube {
    background: #de291e;
}
.btn-behance {
    background: #0083ff;
}
.btn-dribble {
    background: #ea4c89;
}
.btn-web {
    background: #202020;
}
.btn-google-plus {
    background: #dc4e41;
}