.blue-color {
  color: #3498db; }

.green-color {
  color: #66ae53; }

.black-color {
  color: #3d3938; }

.dark-black-color {
  color: #1f1e1d; }

.yellow-color {
  color: #fdaa3e; }

a {
  color: #66ae53; }

.btn-persyaratan {
  background: none;
  color: #66ae53;
  border: 0;
  text-decoration: underline;
  margin-left: -10px; }

#li-cart-empty {
  margin-left: 20px; }

.table-cart-icon td {
  vertical-align: middle !important; }

.table-cart-icon tbody td img {
  border-radius: 3px;
  height: 40px;
  width: 40px; }

.modal-view-icon {
  background: none;
  box-shadow: 0 !important;
  -webkit-box-shadow: 0 !important;
  border: 0; }
  .modal-view-icon .modal-content {
    padding: 30px; }

.total-icons-keranjang {
  background: #fdaa3e;
  padding: 5px;
  border-radius: 50%;
  font-size: 10px;
  color: white;
  position: absolute;
  z-index: 12;
  right: 10px;
  top: 20px; }

.icon-keranjang {
  float: left;
  margin: 10px; }

.remove-item-keranjang {
  padding-top: 17px; }

.scrollable-menu {
  height: auto;
  max-height: 500px;
  overflow-x: hidden; }

.img-icon img {
  width: 80px;
  height: 80px;
  border-radius: 3px; }

#header {
  background: #66ae53;
  background-image: url("../img/bg_header.png");
  padding-bottom: 80px; }
  #header .navbar-default {
    background: #3d3938;
    border: 0;
    border-radius: 0; }
    #header .navbar-default .navbar-header .belancon-logo {
      margin-top: 8px; }
    #header .navbar-default .navbar-brand {
      color: white; }
    #header .navbar-default .navbar-right .fa-shopping-basket {
      color: white; }
    #header .navbar-default .navbar-right .dropdown-toggle:focus, #header .navbar-default .navbar-right .dropdown-toggle:visited {
      background: #66ae53; }

.dropdown-keranjang {
  width: 180px; }
  .dropdown-keranjang li img {
    width: 40px;
    height: 40px;
    margin: 10px; }
  .dropdown-keranjang .download-all-icons:hover {
    text-decoration: underline; }

#home-icons {
  padding-bottom: 50px; }
  #home-icons .hukum-list {
    margin: 0; }
    #home-icons .hukum-list li {
      padding-bottom: 10px;
      line-height: 1.5; }
  #home-icons .overlay-loader {
    width: 100%;
    height: auto;
    z-index: 999;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    color: black; }
  #home-icons .loader-animation {
    width: 100px;
    height: 60px;
    background: red; }
  #home-icons .download-icon {
    padding: 7px;
    width: 30%;
    background: #3d3938;
    border-radius: 10px 10px 0 0;
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 66px;
    cursor: pointer;
    transition: all 1s;
    opacity: 0;
    text-align: center; }
  #home-icons .view-icon {
    padding: 7px;
    width: 30%;
    background: #3d3938;
    border-radius: 0 0 10px 10px;
    position: absolute;
    z-index: 3;
    bottom: 5px;
    left: 66px;
    cursor: pointer;
    transition: all 1s;
    opacity: 0;
    text-align: center; }
  #home-icons .download-icon a,
  #home-icons .view-icon a {
    color: white;
    text-decoration: none; }
  #home-icons .download-icon:hover,
  #home-icons .view-icon:hover {
    -webkit-box-shadow: -1px 0px 20px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 20px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 20px -4px rgba(0, 0, 0, 0.75);
    transition: all 1s;
    background: #66ae53; }
  #home-icons .icon-item {
    margin-bottom: 80px; }
    #home-icons .icon-item:hover .download-icon,
    #home-icons .icon-item:hover .view-icon {
      opacity: 1; }

.form-search-icon {
  margin-top: 50px;
  margin-bottom: 50px; }
  .form-search-icon h1:first-child {
    color: white; }
  .form-search-icon #search-icon {
    border-radius: 20px 0 0 20px;
    width: 500px; }
  .form-search-icon #submit-search-icon {
    border-radius: 0 20px 20px 0;
    margin-left: -4px; }

.btn-load-more {
  background: none;
  border: dashed 1px #66ae53;
  color: #66ae53;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 11px;
  border-radius: 3px;
  transition: all 1s; }
  .btn-load-more:visited, .btn-load-more:focus {
    background: #66ae53;
    color: white;
    transition: all 1s;
    border: 1px solid #66ae53; }
  .btn-load-more:hover {
    background: #66ae53;
    color: white;
    transition: all 1s;
    border: 1px solid #66ae53;
    -webkit-box-shadow: -1px 0px 20px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 20px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 20px -4px rgba(0, 0, 0, 0.75); }

.btn-green-primary {
  background: #66ae53;
  color: white;
  transition: all 1s;
  border: 0;
  -webkit-box-shadow: -1px 0px 20px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 20px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 20px -4px rgba(0, 0, 0, 0.75); }
  .btn-green-primary:hover {
    background: #3d3938;
    color: white;
    transition: all 1s; }

#about {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f4f4f4; }

#footer {
  padding-top: 80px;
  padding-bottom: 70px;
  background: #1f1e1d;
  color: white; }
  #footer .secondary-menus {
    margin: 0;
    padding: 0; }
    #footer .secondary-menus li {
      display: block;
      padding-bottom: 10px; }
  #footer .primary-menus {
    margin: 0 auto;
    display: inline-block;
    margin-top: 10px;
    padding: 0; }
    #footer .primary-menus li {
      float: left;
      margin-left: 25px; }
      #footer .primary-menus li:nth-child(1) {
        list-style-type: none; }
  #footer a {
    cursor: pointer; }
    #footer a:hover {
      color: white; }
  #footer .belancon-logo {
    margin: 0 auto;
    display: inline-block; }

#small-footer {
  background: #131211;
  padding-top: 20px;
  padding-bottom: 20px; }
  #small-footer p {
    margin: 0;
    color: white; }

#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100; }

/* CSS used here will be applied after bootstrap.css */


/*# sourceMappingURL=style.css.map */
