// IMPORT SASS PARTIAL
@import 'color';

// SETTING GLOBAL COLORS
.blue-color {
	color: $blue-primary;
}
.green-color {
	color: $green-primary;
}
.black-color {
	color: $black-primary;
}
.dark-black-color {
	color: $dark-black-primary;
}
.yellow-color {
	color: $yellow-primary;
}

a {
	color: $green-primary;
}

.btn-persyaratan {
	background: none;
	color: $green-primary;
	border: 0;
	text-decoration: underline;
	margin-left: -10px;
}

#li-cart-empty {
	margin-left: 20px;
}

.table-cart-icon {
	td {
		vertical-align: middle !important;
	}
}

.table-cart-icon {
	tbody td img {
		border-radius: 3px;
		height: 40px;
		width: 40px;
	}
}

.modal-view-icon {
	background: none;
	box-shadow: 0 !important;
	-webkit-box-shadow: 0 !important;
	border: 0;
	.modal-content {
		padding: 30px;
	}
}

.total-icons-keranjang {
	background: $yellow-primary;
	padding: 5px;
	border-radius: 50%;
	font-size: 10px;
	color: white;
	position: absolute;
	z-index: 12;
	right: 10px;
	top: 20px;
}

.icon-keranjang {
	float: left;
	margin: 10px;
}

.remove-item-keranjang {
	padding-top: 17px;
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.img-icon {
	img {
		width: 80px;
		height: 80px;
		border-radius: 3px;
	}
}

#header {
	background: $green-primary;
	background-image: url('../img/bg_header.png');
	padding-bottom: 80px;
	.navbar-default {
		.navbar-header {
			.belancon-logo {
				margin-top: 8px;
			}
		}
		background: $black-primary;
		border: 0;
		border-radius: 0;
		.navbar-brand {
			color: white;
		}
		.navbar-right {
			.fa-shopping-basket {
				color: white;
			}
			.dropdown-toggle {
				&:focus,
				&:visited {
					background: $green-primary;
				}
			}
		}
	}
}

.dropdown-keranjang {
	width: 180px;
	li img {
		width: 40px;
		height: 40px;
		margin: 10px;
	}
	.download-all-icons {
		&:hover {
			text-decoration: underline;
		}
	}
}

#home-icons {
	padding-bottom: 50px;
	.hukum-list {
		margin: 0;
		li {
			padding-bottom: 10px;
			line-height: 1.5;
		}
	}
	.overlay-loader {
		// background: rgba(432,412,123,0.5);
		width: 100%;
		height: auto;
		z-index: 999;
		position: absolute;
		display: none;
		top: 0;
		left: 0;
		color: black;
	}

	.loader-animation {
		width: 100px;
		height: 60px;
		background: red;
	}
	.download-icon {
		padding: 7px;
		width: 30%;
		background: $black-primary;
		border-radius: 10px 10px 0 0;
		position: absolute;
		z-index: 2;
		top: 5px;
		left: 66px;
		cursor: pointer;
		transition: all 1s;
		opacity: 0;
		text-align: center;
	}
	.view-icon {
		padding: 7px;
		width: 30%;
		background: $black-primary;
		border-radius: 0 0 10px 10px;
		position: absolute;
		z-index: 3;
		bottom: 5px;
		left: 66px;
		cursor: pointer;
		transition: all 1s;
		opacity: 0;
		text-align: center;
	}
	.download-icon,
	.view-icon {
		a {
			color: white;
			text-decoration: none;
		}
		&:hover {
			-webkit-box-shadow: -1px 0px 20px -4px rgba(0,0,0,0.75);
			-moz-box-shadow: -1px 0px 20px -4px rgba(0,0,0,0.75);
			box-shadow: -1px 0px 20px -4px rgba(0,0,0,0.75);	
			transition: all 1s;
			background: $green-primary;
		}
	}
	.icon-item {
		margin-bottom: 80px;
		&:hover {
			.download-icon,
			.view-icon {
				opacity: 1;
			}
		}
	}
}

.form-search-icon {
	margin-top: 50px;
	margin-bottom: 50px;
	h1:first-child {
		color: white;	
	}
	#search-icon {
		border-radius: 20px 0 0 20px;
		width: 500px;	
	}
	#submit-search-icon {
		border-radius: 0 20px 20px 0;
		margin-left: -4px;	
	}
}

.btn-load-more {
	background: none;
	border: dashed 1px $green-primary;
	color: $green-primary;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 11px;
	border-radius: 3px;
	transition: all 1s;
	&:visited,
	&:focus {
		background: $green-primary;
		color: white;
		transition: all 1s;
		border: 1px solid $green-primary;
	}
	&:hover {
		background: $green-primary;
		color: white;
		transition: all 1s;
		border: 1px solid $green-primary;
		-webkit-box-shadow: -1px 0px 20px -4px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 0px 20px -4px rgba(0,0,0,0.75);
		box-shadow: -1px 0px 20px -4px rgba(0,0,0,0.75);
	}
}

.btn-green-primary {
	background: $green-primary;
	color: white;
	transition: all 1s;
	border: 0;
	-webkit-box-shadow: -1px 0px 20px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 0px 20px -4px rgba(0,0,0,0.75);
	box-shadow: -1px 0px 20px -4px rgba(0,0,0,0.75);
	&:hover {
		background: $black-primary;
		color: white;
		transition: all 1s;
	}
}

#about {
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	background: #f4f4f4;
}

#footer {
	padding-top: 80px;
	padding-bottom: 70px;
	background: $dark-black-primary;
	color: white;
	.secondary-menus {
		margin: 0;
		padding: 0;
		li {
			display: block;
			padding-bottom: 10px;
		}
	}
	.primary-menus {
		margin: 0 auto;
		display: inline-block;
		margin-top: 10px;
		padding: 0;
		li {
			float: left;
			margin-left: 25px;
			&:nth-child(1) {
				list-style-type: none;
			}
		}
	}
	a {
		cursor: pointer;
		&:hover {
			color: white;
		}
	}
	.belancon-logo {
		margin: 0 auto;
		display: inline-block;
	}
}

#small-footer {
	background: #131211;
	padding-top: 20px;
	padding-bottom: 20px;
	p {
		margin: 0;
		color: white;
	}
}

.details-icon {
	.info-icon {
		border: 1px solid #ddd;
		border-radius: 3px;
		padding: 15px;
		font-weight: bold;
		background: #fafafa;
		color: #666;
		margin-top: 10px;
	}
	.btn-icon {
		margin-top: 10px;
		padding: 10px;
		text-align: center;
		border-radius: 3px;
		background: $green-primary;
		color: white;
		transition: all 1s;
		&:hover {
			-webkit-box-shadow: -1px 0px 20px -4px rgba(0,0,0,0.75);
			-moz-box-shadow: -1px 0px 20px -4px rgba(0,0,0,0.75);
			box-shadow: -1px 0px 20px -4px rgba(0,0,0,0.75);	
			transition: all 1s;
		}
	}
	.btn-cart {
		background: $black-primary;
		@extend .btn-icon;
	}
	.author-icon {
		border: 1px solid #ddd;
		border-radius: 3px;
		padding-bottom: 15px;
		.img-profile {
			height: 60px;
			width: 60px;
			float: left;
			margin-top: 12px;
			margin-right: 12px;
		}
		.author-name {
			margin-top: 22px;
			font-size: 14px;
			font-weight: bold;
		}
		.author-follower {
			color: #d4d4d4;
		}
	}
	.img-detail {
		height: 400px;
		margin: 0 auto;
		display: inline-block;
		margin-top: 10px;
	}
	.share-to {
		border-top: 1px solid #ddd;
		padding-top: 20px;
		margin-top: 20px;
	}
	.item-lainnya {
		margin-top: 10px;
	}
	.icon-item {
		&:hover {
			.view-icon-detail {
				opacity: 1;
				transition: all 1s
			}
		}
	}
	.view-icon-detail {
		background: $black-primary;
		color: white;
		padding: 10px;
		border-radius: 3px;
		position: absolute;
		z-index: 88;
		left: 45px;
		top: 28px;
		transition: all 1s;
		opacity: 0;
		&:hover {
			-webkit-box-shadow: -1px 0px 20px -4px rgba(0,0,0,0.75);
			-moz-box-shadow: -1px 0px 20px -4px rgba(0,0,0,0.75);
			box-shadow: -1px 0px 20px -4px rgba(0,0,0,0.75);	
			transition: all 1s;
			background: $green-primary;
		}
	}
}

#loader {    
    position: fixed;
    left: 50%;
    top: 50%;    
    z-index: 100;
}